h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
a,
p {
    box-sizing: border-box;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}
