$header-background: rgba(116, 107, 108, 0.8);
$head-color: rgba(0, 0, 0, 1);
$nav-background: rgba(2, 2, 2, 1);
$nav-text-color: rgba(137, 140, 140, 1);
$background-color: rgb(110, 142, 142);
$h-l-font-size: 3rem;
$h-m-font-size: 2rem;
$h-s-font-size: 1rem;
$active-color: rgba(255, 255, 255, 1);
* {
    font-family: "Noto Serif TC", serif;
}
